@import url(./default.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/*1 래퍼 */
.background {width: 100%; height: 3000px;}

/*3 헤더탑 */
.header_top{ padding: 0px 16px 0px 12px; height: 75px; overflow: hidden;}
.header_top_logo { float: left; padding: 16px; height: 100%; }
.header_top_lefticon{ font-family: 'Source Sans Pro', sans-serif; font-size: 18px; font-weight: 600; color: #282A35; float: left; padding: 24px 16px; height: 100%; background-color: white; line-height: 28px;}
.header_top_lefticon:hover{ color: white; background-color: #04AA6D;}
.header_top_new{ font-family: 'Source Sans Pro', sans-serif; font-size: 11px; font-weight: 700; margin-left: 3px; padding: 3px 10px; border: 1px solid black; border-radius: 15px; color: #282A35; background-color: white; position: relative; top: -2px;}
.header_top_logo,.header_top_lefticon{cursor: pointer;}
.header_top_righticon_Group { float: right; height: 100%; padding: 16px 0px;}
#header_top_righticon_Web{ font-family: 'Source Sans Pro', sans-serif; font-size: 18px; font-weight: 600; color: #282A35; float: left; padding: 8px 16px; margin: 0px 19px 0px 0px; border: 0px solid black; border-radius: 20px; background-color: #FFC0C7; line-height: 28px; height: 43px;}
#header_top_righticon_Course{ font-family: 'Source Sans Pro', sans-serif; font-size: 18px; font-weight: 600; color: #282A35; float: left; padding: 8px 16px; margin: 0px 19px 0px 0px; border: 0px solid black; border-radius: 20px; background-color: white; line-height: 28px; height: 43px;}
#header_top_righticon_Web:hover, #header_top_righticon_Course:hover {color: white; background-color: #04AA6D; cursor: pointer;}
#header_top_righticon_Login{width: 130px; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; font-weight: 600; color: white; float: left; padding: 8px 16px; border: 0px solid white; border-radius: 20px; background-color: #04AA6D; line-height: 28px; height: 43px; text-align: center;}
#header_top_righticon_Login:hover {background-color: #059862; cursor: pointer;}

/*3 헤더바텀 */
.header_bottom { position: sticky; top: 0; height: 44px; overflow: hidden; background-color: #282A35;}
.header_bottom_logo {float:left; height: 44px; padding: 14px 17px 13px; color: white;}
.header_bottom_lefticon_HTML{font-family: 'Source Sans Pro', sans-serif; letter-spacing: 0.75px; font-size: 17px;  font-weight: 600; float: left; display: block; height: 44px;  color: #f1f1f1; text-decoration: none; padding: 11px 18px 9px;}
.header_bottom_lefticon{font-family: 'Source Sans Pro', sans-serif; letter-spacing: 1px; font-size: 17px;  font-weight: 600; float: left; display: block; height: 44px;  color: #f1f1f1; text-decoration: none; padding: 11px 15px 9px;}
.header_bottom_logo:hover{background-color: #000; cursor: pointer;}
.header_bottom_lefticon_HTML:hover{background-color: #000;}
.header_bottom_lefticon:hover{background-color: #000;}

/* 바디 */
.leftnav {height: 100%; padding-top: 44px; display: block; width: 220px;}
/* 바디왼쪽네비 */
.body_left_nav{position: sticky; top:44px; display: inline; flex-direction: column;height: 900px; width: 220px; background-color: #E7E9EB; overflow-y: scroll; overflow-x: hidden; padding-bottom: 50px;}
.body_left_nav > h3 { padding: 0px 0px 0px 16px; font-size: 21px; margin: 16px 0px 4px 0px; font-weight: 500;}
.body_left_nav > a {padding: 2px 1px 1px 16px; font-size: 15px; line-height: 22.5px; color: black; text-decoration: none;}
.body_left_nav > a:hover {background-color: #cccccc;}

/* 바디컨테이너 */
