*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,body{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}




.wrapper__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 464px;
    height: 124px;
    /* background-color: pink; */
}
.wrapper__body{
    width: 464px;
    height: 270px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__header__title{
    display: flex;
    align-items: center;
}
.wrapper__home__title{
    font-size: 17px;
    color:#55B2D4;
    font-weight: bold
    ;

}

.wrapper__home__sub{
    font-size: 5px;
    line-height: 8px;
    padding-left: 8px;
    
}
.hr{
    border-bottom: 1px solid gray;
    width: 100%;
    height: 5px;
}
.wrapper__first__body{
    font-size: 11px;
    padding-top: 6px;
    width: 100%;
    height: 90px;
}
.wrapper__second__body{
    width: 100%;
    height: 240px;
    background-color:#C4C4C4;
}